<nav class="sticky top-0 z-50 text-white shadow-lg kanit-bold" style="background-color: #8FE019;">
  <div class="max-w-10xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-20">
      <!-- Logo -->
      <div class="flex-shrink-0 w-auto">
        <a routerLink="/home">
          <img class="w-20 mt-2 hover: transform transition-transform duration-300 hover:scale-110" src="assets/LOGO.png" alt="Logo">
        </a>
      </div>
      
      <!-- Mensaje de bienvenida -->
      <div *ngIf="isLoggedIn" class="text-white text-2xl kanit-bold">
        Bienvenido, {{ username }}
      </div>

      <!-- Sesión -->
      <div>
        <a routerLink="/login" class="text-white text-lg kanit-bold hover:underline" *ngIf="!isLoggedIn">
          Iniciar Sesión
        </a>
        <a class="text-white text-lg font-bold hover:underline cursor-pointer" *ngIf="isLoggedIn" (click)="logout()">
          Cerrar Sesión
        </a>
      </div>
      <!-- Botón de menú en pantallas pequeñas -->
      <div class="block lg:hidden">
        <button class="text-white" (click)="isMenuOpen = !isMenuOpen">
          <!-- Ícono de hamburguesa -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
    <!-- Menú de navegación en pantallas grandes -->
    <div class="hidden lg:flex justify-center h-16">
      <div class="flex space-x-6 px-4 py-2 bg-transparent">
        <a *ngIf="showLink(userRole, 'home')" routerLink="/home" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Inicio
        </a>
        <a *ngIf="showLink(userRole, 'mapa')" routerLink="/mapa" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Mapa
        </a>
        <a *ngIf="showLink(userRole, 'metas')" routerLink="/metas" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Metas
        </a>
        <a *ngIf="showLink(userRole, 'informacion')" routerLink="/informacion" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Información
        </a>
        <a *ngIf="showLink(userRole, 'tips')" routerLink="/tips" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Hacks
        </a>
        <a *ngIf="showLink(userRole, 'colocacionPuntos')" routerLink="/colocacionPuntos" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Colocación de Puntos
        </a>
        <a *ngIf="showLink(userRole, 'creacionMetas')" routerLink="/creacionMetas" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Creación de Metas
        </a>
      </div>
    </div>
    <!-- Menú en pantallas pequeñas -->
    <div *ngIf="isMenuOpen" class="lg:hidden text-white transition-all duration-300" style="background-color: #8FE019;">
      <div class="flex flex-col items-center space-y-4 py-4">
        <a *ngIf="showLink(userRole, 'mapa')" routerLink="/mapa" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Mapa
        </a>
        <a *ngIf="showLink(userRole, 'metas')" routerLink="/metas" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Metas
        </a>
        <a *ngIf="showLink(userRole, 'informacion')" routerLink="/informacion" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Información
        </a>
        <a *ngIf="showLink(userRole, 'tips')" routerLink="/tips" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Hacks
        </a>
        <a *ngIf="showLink(userRole, 'colocacionPuntos')" routerLink="/colocacionPuntos" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Colocación de Puntos
        </a>
        <a *ngIf="showLink(userRole, 'creacionMetas')" routerLink="/creacionMetas" routerLinkActive="border" 
           class="text-white text-lg px-3 py-2 rounded-md hover:underline transform transition-transform duration-300 hover:scale-110">
          Creación de Metas
        </a>
      </div>
    </div>
  </div>
</nav>
