<h1 class="text-4xl text-center pt-2 font-bold">Recicladoras cerca de ti</h1>

<div class="pt-5 flex justify-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d108478.52556213207!2d-96.73126621339118!3d17.07772769013767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1srecicladora!5e0!3m2!1ses!2smx!4v1742343496800!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<p class="text-2xl pt-3 p-10">Encuentra las mejores recicladoras cerca de ti en México. Utiliza nuestro mapa interactivo para localizar las recicladoras más cercanas a ti y descubre más información sobre cada una de ellas en nuestro listado detallado.</p>
