<h1 class="text-4xl text-center pt-2 kanit-bold">Recicladoras cerca de ti</h1>

<div id="mapa" class="w-full h-96 m-1"></div>
<div *ngIf="recicladoraSeleccionada" class="p-5 bg-white shadow-md rounded-lg w-100">
  <h2 class="text-xl kanit-bold mb-2">{{ recicladoraSeleccionada.nombre }}</h2>
  <img [src]="recicladoraSeleccionada.imagen" alt="{{ recicladoraSeleccionada.nombre }}" class="w-full h-48 object-cover mb-3">
  <p><strong>Dirección:</strong> {{ recicladoraSeleccionada.direccion }}</p>
  <p><strong>Teléfono:</strong> {{ recicladoraSeleccionada.telefono }}</p>
  <p><strong>Horario:</strong> {{ recicladoraSeleccionada.horario }}</p>
</div>
