<div class="flex h-screen">
  <!-- Sección Izquierda -->
  <div class="w-full md:w-1/2 flex flex-col justify-center items-center bg-white p-10 relative">
    <button routerLink="/home" class="absolute top-5 left-5 text-gray-600 hover:text-black text-xl">
      <i class="fas fa-arrow-left"></i>
    </button>
    
    <h1 class="text-4xl kanit-bold text-black mb-4">¡Bienvenido de vuelta!</h1>
    <p class="text-gray-600 mb-6 kanit-extralight">Ingresa tus credenciales para ingresar a tu cuenta</p>
    
    <div class="w-full max-w-md">
      <form [formGroup]="loginForm" (ngSubmit)="register()">
      <label class="block text-gray-700 kanit-semibold mb-1">Correo Electrónico</label>
      <input type="email" formControlName="email" placeholder="Ingresa tu Correo" class="w-full p-3 kanit-extralight border rounded-lg mb-4 focus:outline-none focus:ring-2 focus:ring-green-400">
      <p class="text-sm text-red-500 p-1 kanit-extralight">
        {{obtenerMensajesError('email')}}
      </p>
      <label class="block text-gray-700 kanit-semibold mb-1">Contraseña</label>
      <input type="password" formControlName="password" placeholder="Contraseña" class="w-full p-3 border kanit-extralight rounded-lg mb-6 focus:outline-none focus:ring-2 focus:ring-green-400">
      <p class="text-sm text-red-500 p-1 kanit-extralight">
        {{obtenerMensajesError('password')}}
      </p>
      <button class="w-full bg-lime-500 text-white p-3 rounded-lg kanit-semibold hover:bg-lime-600 transition">Iniciar</button>
    </form>
      <p class="mt-4 text-gray-600 kanit-semibold">¿No tienes cuenta? <a routerLink="/signup" class="text-blue-600 kanit-semibold">Regístrate</a></p>
    </div>
  </div>
  
  <!-- Sección Derecha con Imagen -->
  <div class="hidden md:block md:w-1/2 bg-contain bg-no-repeat bg-center" style="background-image: url('/assets/LOGO.png'); background-color: #f9fafb;"></div>
</div>