<div class="w-full h-120 bg-cover bg-center" style="background-image: url('assets/images/home/imagen1.jpeg');">
    <div class="w-full md:w-1/3 h-full pl-5 pr-5  rounded-2xl relative">
        <div class="absolute inset-0 bg-black opacity-30 rounded-2xl"></div>
        <div class="relative z-10">
            <h1 class="text-white text-4xl font-bold pt-10">Reduce. Reutiliza. Recicla.</h1>
            <p class="text-white text-xl font-bold pt-10 w-full text-justify">
                Somos EcoAction, una organización sin ánimo de lucro que gestiona el reciclaje de los residuos que se depositan en el contenedor amarillo y azul.
            </p>
            <button class="bg-gray-100 rounded-md p-4 mt-4 hover:bg-gray-200 cursor-pointer" routerLink="/informacion">MÁS INFORMACIÓN</button>
        </div>
    </div>
</div>