<div class="meta-creation-container bg-white rounded-xl shadow-xl p-8 w-full max-w-lg mx-auto mt-10">
  <h1 class="text-3xl kanit-bold text-gray-900 text-center flex-1">Creación de metas</h1>
  <form  [formGroup]="metaForm" class="w-full max-w-sm" (ngSubmit)="register()">
      <div class="form-group mb-4">
        <label for="nombre" class="block text-gray-700 kanit-bold mb-2">Nombre:</label>
        <input formControlName="nombre" type="text" id="nombre" name="nombre" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <p class="text-sm text-red-500 p-1 kanit-extralight">
        {{obtenerMensajesError('nombre')}}
      </p>
      <div class="form-group mb-4">
        <label for="cantidad" class="block text-gray-700 kanit-bold mb-2">Cantidad de Monedas:</label>
        <input formControlName="cantidadMonedas" type="number" id="cantidad" name="cantidad" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <p class="text-sm text-red-500 p-1 kanit-extralight">
        {{obtenerMensajesError('cantidadMonedas')}}
      </p>
      <div class="form-group mb-4">
        <label for="descripcion" class="block text-gray-700 kanit-bold mb-2">Descripción:</label>
        <textarea formControlName="descripcion" id="descripcion" name="descripcion" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
      </div>
      <p class="text-sm text-red-500 p-1 kanit-extralight">
        {{obtenerMensajesError('descripcion')}}
      </p>
      <div class="form-group mb-4">
        <label for="imagen" class="block text-gray-700 kanit-bold mb-2">Imagen:</label>
        <input type="file" id="imagen" (change)="onFileChange($event)" accept=".jpg, .png" class="kanit-extralight shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div *ngIf="imagenSeleccionada" class="mb-4">
        <img [src]="imagenSeleccionada" alt="Vista previa" class="w-40 h-40 object-cover rounded-md shadow-md mx-auto">
      </div>
      <p class="text-sm text-red-500 p-1 kanit-extralight">
        {{obtenerMensajesError('imagen')}}
      </p>
      
      <!-- Image Preview -->
      <div class="mb-4" *ngIf="imagePreviewUrl">
        <label class="block text-gray-700 kanit-bold mb-2">Vista previa:</label>
        <img [src]="imagePreviewUrl" alt="Vista previa de la imagen" class="max-w-full h-auto rounded shadow-md">
      </div>
      <div class="flex justify-center">
        <button type="submit" class="btn-crear-meta bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Crear meta</button>
      </div>
    </form>
  </div>