<div class="min-h-screen bg-gray-100 p-6">
  <!-- Encabezado con título -->
  <div class="text-center mb-6">
    <h1 class="text-3xl kanit-bold text-gray-900">Metas a lograr</h1>
  </div>

  <!-- Contenedor de botones y saldo -->
  <div class="flex flex-col sm:flex-row justify-center items-center gap-4 mb-6">
    <!-- Mostrar botón "Crear meta" solo si el rol es admin -->
    <button *ngIf="userRole === 'admin-realm-rol'" 
      (click)="mostrarFormulario = true"
      class="px-4 py-2 bg-green-500 text-white kanit-bold rounded-lg shadow-md hover:bg-green-600 transition duration-300">
      Crear meta
    </button>

    <!-- Mostrar botón "Agregar Saldo" solo si el rol es user -->
    <button *ngIf="userRole === 'user-realm-rol'" 
      (click)="mostrarFormularioSaldo = true"
      class="px-4 py-2 bg-green-500 text-white kanit-bold rounded-lg shadow-md hover:bg-green-600 transition duration-300">
      Agregar Saldo
    </button>

    <!-- Mostrar saldo solo si el rol es user, pero mantener el espacio reservado -->
    <p *ngIf="userRole === 'user-realm-rol'; else emptySaldo" 
      class="text-xl kanit-semibold text-gray-800">
      Saldo: {{ saldoPersona | currency }}
    </p>
    <ng-template #emptySaldo>
      <div class="w-32"></div> <!-- Espacio reservado para mantener el diseño -->
    </ng-template>
  </div>

  <!-- Fondo desenfocado cuando el formulario está activo -->
  <div *ngIf="mostrarFormulario" class="fixed inset-0 backdrop-blur-md z-40"></div>

  <div *ngIf="mostrarFormulario" class="fixed inset-0 flex justify-center items-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
      <h1 class="text-3xl kanit-bold text-gray-900 text-center">Creación de metas</h1>
      <form [formGroup]="metaForm" (ngSubmit)="register()">
        <div class="mb-4">
          <label for="nombre" class="block text-gray-700 kanit-bold mb-2">Nombre:</label>
          <input formControlName="nombreMeta" type="text" id="nombre" class="w-full p-2 border rounded" />
          <p class="text-sm text-red-500">{{ obtenerMensajesError('nombreMeta') }}</p>
        </div>
    
        <div class="mb-4">
          <label for="cantidad" class="block text-gray-700 kanit-bold mb-2">Cantidad de Monedas:</label>
          <input formControlName="dineroNecesario" type="number" id="cantidad" class="w-full p-2 border rounded" />
          <p class="text-sm text-red-500">{{ obtenerMensajesError('dineroNecesario') }}</p>
        </div>
    
        <div class="mb-4">
          <label for="descripcion" class="block text-gray-700 kanit-bold mb-2">Descripción:</label>
          <textarea formControlName="descripcionMeta" id="descripcion" class="w-full p-2 border rounded"></textarea>
          <p class="text-sm text-red-500">{{ obtenerMensajesError('descripcionMeta') }}</p>
        </div>

        <div class="form-group mb-4">
          <label for="imagen" class="block text-gray-700 kanit-bold mb-2">Imagen:</label>
          <input formControlName="imagen" type="file" (change)="onFileSelected($event)"  id="imagen" name="imagen" accept=".jpg, .png" class="kanit-extralight shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          <p class="text-sm text-red-500 p-1 kanit-extralight">
            {{obtenerMensajesError('imagen')}}
          </p>
        </div>
    
        <div class="flex justify-between">
          <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Crear meta</button>
          <button type="button" (click)="mostrarFormulario = false" class="bg-red-500 text-white px-4 py-2 rounded ">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Contenedor de las tarjetas -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center">
    <div *ngFor="let meta of metas"
      class="relative overflow-hidden w-70 h-120 rounded-3xl cursor-pointer text-2xl kanit-bold shadow-lg"
      style="background-color: #E0E019;"
    >
      <div class="z-10 absolute w-full h-full peer"></div>

      <!-- Efecto en la esquina superior izquierda -->
      <div
        class="absolute peer-hover:-top-20 peer-hover:-left-16 peer-hover:w-[140%] peer-hover:h-[140%] 
        -top-32 -left-16 w-32 h-44 rounded-full transition-all duration-500"
        style="background-color: #eeee63;"
      ></div>
      
      <!-- Contenedor emergente que aparece en hover -->
      <div
  class="absolute flex flex-col items-center justify-center text-center text-xl bg-[#eeee63] 
  transition-all duration-500 rounded-3xl w-full h-full opacity-100 pointer-events-auto 
  md:opacity-0 md:hover:opacity-100 md:peer-hover:opacity-100 md:pointer-events-auto sm:opacity-100 sm:pointer-events-auto">

        <img [src]="meta.imagen" alt="imagen" class="w-100 h-auto rounded-lg p-2">
        <p class="text-gray-900 kanit-semibold">{{ meta.nombreMeta }}</p>
        <p class="text-gray-700 kanit-semibold">{{ meta.dineroRecaudado }}/{{ meta.dineroNecesario }} monedas</p>
        <p class="text-gray-600 text-sm kanit-semibold">{{ meta.descripcionMeta }}</p>
        <button (click)="mostrarFormularioDonacion = true" 
          class="px-4 py-2 bg-green-500 text-white kanit-bold rounded-lg shadow-md 
          hover:bg-green-600 transition duration-300 pointer-events-auto z-20">
          Donar
        </button>
      </div>

  <!-- Fondo desenfocado cuando el formulario Donacion está activo -->
  <div *ngIf="mostrarFormularioDonacion" class="fixed inset-0 backdrop-blur-md z-40"></div>

  <div *ngIf="mostrarFormularioDonacion" class="fixed inset-0 flex justify-center items-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
      <h1 class="text-3xl kanit-bold text-gray-900 text-center ">Ingresa tu donación</h1>
      <form [formGroup]="donacionForm" (ngSubmit)="registerDonation()">

    
        <div class="mb-4">
          <label for="cantidad" class="block text-gray-700 kanit-bold mb-2 text-base">Cantidad a donar:</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <span class="text-gray-500">$</span>
            </div>
            <input formControlName="cantidad" type="number" id="cantidad" class="w-full p-2 pl-7 border rounded" />
          </div>
          <p class="text-sm text-red-500 kanit-extralight">{{ obtenerMensajesErrorDonacion('cantidad') }}</p>
        </div>
    
        <div class="flex justify-between">
          <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded kanit-extralight text-lg">Donar</button>
          <button type="button" (click)="mostrarFormularioDonacion = false" class="bg-red-500 text-white px-4 py-2 rounded kanit-extralight text-lg">Cancelar</button>
        </div>
      </form>
    </div>
  </div>


  <!-- Fondo desenfocado cuando el formulario Saldo está activo -->
  <div *ngIf="mostrarFormularioSaldo" class="fixed inset-0 backdrop-blur-md z-40"></div>

  <div *ngIf="mostrarFormularioSaldo" class="fixed inset-0 flex justify-center items-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
      <h1 class="text-3xl kanit-bold text-gray-900 text-center">Ingresa saldo a depositar</h1>
      <form [formGroup]="SaldoForm" (ngSubmit)="registerSaldo()">
        
        <div class="mb-4">
          <label for="nombre" class="block text-gray-700 kanit-bold mb-2 text-base">Nombre del titular:</label>
          <input formControlName="nombreTarjeta" type="text" id="nombre" class="w-full p-2 border rounded" placeholder="Juan López"/>
          <p class="text-sm text-red-500 kanit-extralight">{{ obtenerMensajesErrorSaldo('nombreTarjeta') }}</p>
        </div>

        <div class="mb-4">
          <label for="cantidad" class="block text-gray-700 kanit-bold mb-2 text-base">Tarjeta:</label>
          <input 
            formControlName="notarjeta" 
            type="text" 
            id="cantidad" 
            class="w-full p-2 border rounded" 
            placeholder="xxxx xxxx xxxx xxxx" 
            maxlength="16" 
            (input)="validateNumericInput($event)" />
          <p class="text-sm text-red-500 kanit-extralight">{{ obtenerMensajesErrorSaldo('notarjeta') }}</p>
        </div>

        <div class="mb-4">
          <label for="vencimiento" class="block text-gray-700 kanit-bold mb-2 text-base">Vencimiento:</label>
          <input formControlName="vencimiento" type="text" id="vencimiento" class="w-full p-2 border rounded" 
                 (input)="formatVencimiento($event)" maxlength="5" placeholder="MM/YY" />
          <p class="text-sm text-red-500 kanit-extralight">{{ obtenerMensajesErrorSaldo('vencimiento') }}</p>
        </div>

        <div class="mb-4">
          <label for="nombre" class="block text-gray-700 kanit-bold mb-2 text-base">CVC:</label>
          <input 
            formControlName="cvc" 
            type="text" 
            id="number" 
            class="w-full p-2 border rounded" 
            maxlength="3" 
            (input)="validateNumericInput($event)" 
            placeholder="123" />
          <p class="text-sm text-red-500 kanit-extralight">{{ obtenerMensajesErrorSaldo('cvc') }}</p>
        </div>

        <div class="mb-4">
          <label for="cantidad" class="block text-gray-700 kanit-bold mb-2 text-base">Saldo a agregar:</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <span class="text-gray-500">$</span>
            </div>
            <input formControlName="saldo" type="number" id="cantidad" class="w-full p-2 pl-7 border rounded" />
          </div>
          <p class="text-sm text-red-500 kanit-extralight">{{ obtenerMensajesErrorSaldo('saldo') }}</p>
        </div>
        
        <div class="flex justify-between">
          <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded kanit-extralight text-lg">Depositar</button>
          <button type="button" (click)="mostrarFormularioSaldo = false" class="bg-red-500 text-white px-4 py-2 rounded kanit-extralight text-lg">Cancelar</button>
        </div>
      </form>
    </div>
  </div>



      <!-- Contenido principal (siempre visible) -->
      <div class="w-full h-full flex flex-col items-center justify-center text-center p-4 space-y-2">
        <img [src]="meta.imagen" alt="imagen" class="w-32 h-32 rounded-full mb-2">
        <p class="text-gray-900 kanit-semibold">{{ meta.nombreMeta }}</p>
      </div>
    </div>
  </div>
</div>